{% extends 'catalog/base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h2 class="mb-5">Создание категории</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="{% url 'catalog:products' %}" class="btn btn-primary">Отменить</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}