{% extends 'catalog/base.html' %}
{% load my_tag %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ product.image | media_filter }}">
                    <div class="card-body">
                        <p class="card-text">
                            {{ product.name }}
                        </p>
                        <p class="card-text">
                            {{ product.description }}
                        </p>
                        <p class="card-text">
                            Цена: {{ product.price }} рублей
                        </p>
                        <p class="card-text">
                            Статус:
                            {% if product.is_published %}
                                <span class="badge text-bg-success">Опубликован</span>
                            {% else %}
                                <span class="badge text-bg-secondary">Снят с публикации</span>
                            {% endif %}
                        </p>
                        {% if perms.catalog.can_unpublish_product %}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form method="post" action="{% url 'catalog:product_toggle_publish' product.pk %}">
                                    {% csrf_token %}
                                    {% if product.is_published %}
                                        <button type="submit" class="btn btn-sm btn-outline-danger">
                                            Снять с публикации
                                        </button>
                                    {% else %}
                                        <button type="submit" class="btn btn-sm btn-outline-success">
                                            Опубликовать
                                        </button>
                                    {% endif %}
                                </form>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}